body {
    font-family: 'Baloo Chettan 2', cursive;
}
h1 { text-align: center;
     text-size-adjust: 12px; 
     font-family: 'Baloo Chettan 2', cursive;
}
.section-first {
    background-color: lightcoral;
    border-style: groove;
    border-radius: 7px;
    padding-left: 5px;
    font-size: 20px;
}
.section-second {
    background-color: darkorange;
    border-style: groove;
    border-radius: 7px;
    padding-left: 5px;
    font-size: 20px;
}
.section-third {
    background-color: forestgreen;
    border-style: groove;
    border-radius: 7px;
    padding-left: 5px;
    font-size: 20px;
}
.section-fourth {
    background-color: mediumaquamarine;
    border-style: groove;
    border-radius: 7px;
    padding-left: 5px;
    font-size: 20px;
}
.section-fifth {
    background-color: mediumvioletred;
    border-style: groove;
    border-radius: 7px;
    padding-left: 5px;
    font-size: 20px;
}
.section-sixth {
    background-color: lightslategray;
    border-style: groove;
    border-radius: 7px;
    padding-left: 5px;
    font-size: 20px;
}
.container {
    width: 900px;
    text-align: center;
    border-left: 5px solid floralwhite;
    
}
    