/* Fonts */
$font-family: 'Roboto', sans-serif;
$font-xl: 25px;
$font-l: 22px;
$font-m: 18px;
$font-s: 15px;
$font-xs: 12px;

// Padding y Margin
$padding-l: 15px;
$padding-m: 10px;
$padding-s: 5px;
$margin-l: 15px;
$margin-m: 10px;
$margin-s: 5px;

// Colors
$white: #fcfcfd;
$grey-background: #d6d6d8;
$hover-color: #69c9fc;
$situation-color: rgb(0, 255, 213);

//otros
$box-sizing: border-box;