.container {
  width: 100%;
  height: 200px;
  position: relative;
  display: flex; }
  .container .cajita {
    background-color: cornsilk;
    width: 150px;
    height: 75px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center; }
  .container.container-1 {
    background-color: red; }
  .container.container-2 {
    background-color: blue; }
