body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px; }

h1 {
  text-align: center; }

h2 {
  font-size: 1.1em;
  margin-top: 2em; }

.why {
  width: 80%;
  margin: auto; }

main {
  width: 80%;
  margin: auto; }

#modal {
  background: lightslategrey;
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  transition: all 0,5s; }
  #modal p {
    color: lightcoral;
    width: 70%;
    font-size: 20px;
    text-align: center;
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    margin: auto; }

#abrir-modal {
  display: none; }
  #abrir-modal + label {
    display: table;
    line-height: 3;
    padding: 0 16px;
    text-transform: uppercase;
    background: steelblue;
    margin: auto;
    color: #fff;
    cursor: pointer; }
  #abrir-modal:checked ~ #modal {
    top: 0px; }

#cerrar-modal {
  display: none; }
  #cerrar-modal + label {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 150;
    color: #fff;
    font-size: 20px;
    font-weight: bold; }
